*{
    padding: 0;
    margin: 0;
}

body{
	margin: 0 auto;
	width:500px;
	border: 1px solid black;
}
header{
	border: 1px solid black;
	width:500px;
	height:50px;
	line-height:50px;
	display:flex;
	justify-content:space-between;
}
main{
	border: 1px solid red;
}

.right{
	text-align:right;
}

.center{
	text-align:center;
}